<div class="container">

    <h2>Suprimer un utilisateur</h2>
    <!-- <div class="row">
        <form (ngSubmit)="supprimerUtilisateur(uid.value)" [formGroup]="" class="d-flex">
            <div class="form-goup">
                <label>UID du collaborateur</label>
                <input #uid  name="uid" class="form-control" type="text" placeholder="Saisir UID" maxlength="6" />
                <button class="btn btn-danger btn-sm" type="submit">Envoyer</button>
            </div>
    
            <div>
                
            </div>
        </form>
    </div> -->

    <dl>

            <dt id="alerte"> Attention : </dt>
            <dd>Toute suppression est définitive !</dd>
  

    </dl>

    <div class="input-group mb-3">


        <input #uid class="form-control" type="text" placeholder="Saisir UID" maxlength="6" />
        <div class="input-group-prepend">
            <button class="btn btn-danger" type="submit" (click)="supprimerUtilisateur(uid.value)">Supprimer</button>
        </div>
    </div>
</div>