<div >
    <H2>Détail d'une Affectation</H2>
</div>
<br>
<div>
    <h5>Informations Affectation</h5>
</div>
<div >
    
<table class="table" *ngIf="loading===false">
    <thead>
       <tr>
          <th scope="col">Date affectation</th>
          <th scope="col">Date de renouvellement</th>
          <th scope="col">Commentaire</th>
          <th scope="col"></th>
          <th scope="col"></th>
       </tr>
    </thead>
    <tbody>
       <tr >
          <td>{{affectation.dateAffectation}}</td>
          <td>{{affectation.dateRenouvellementPrevue}}</td>
          <td>{{affectation.commentaire}}</td> 
          <td></td>
        </tr>
    </tbody>
 </table>
</div>
<br >
<!-- <div class="d-flex mt-2 mb-2 d-flex justify-center"> -->
    <div>
        <h5>Informations Collaborateur</h5>
    </div>
 <div class=" d-flex justify-center"> 
 <table class="table" *ngIf="loading===false">
    <thead>
       <tr>
          <th scope="col">UID</th>
          <th scope="col">Nom</th>
          <th scope="col">Prénom</th>
          <th scope="col">Numéro de ligne</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
       <tr >
          <td>{{affectation.collaborateur.uid}}</td>
          <td>{{affectation.collaborateur.nom}}</td>
          <td>{{affectation.collaborateur.prenom}}</td>
          <td>{{affectation.collaborateur.numeroLigne}}</td> 
       </tr>
    </tbody>
 </table>
 </div>
 <br >
 <div>
    <h5>Informations UO</h5>
</div>
 <div class="d-flex justify-center" *ngIf="loading===false">
 <table class="table" >
    <thead>
       <tr>
          <th scope="col">Code UO</th>
          <th scope="col">Code UO Parent</th>
          <th scope="col">Nom UO</th>
          <th scope="col">Nom Entite</th>
          <th scope="col">Nom du Responsable UO </th>
          <th scope="col"></th>
         <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
       <tr >
          <td>{{affectation.collaborateur.uo.codeUo}}</td>
          <td>{{affectation.collaborateur.uo.codeUoParent}}</td>
          <td>{{affectation.collaborateur.uo.nomUsageUo}}</td>
          <td>{{affectation.collaborateur.uo.fonctionRattachement}}</td>
          <td>{{affectation.collaborateur.uo.nomResponsableUo}}</td> 
  
       </tr>
    </tbody>
 </table>
 </div>
 <br >
 <div>
    <h5>Informations Site</h5>
</div>
 <div class="d-flex justify-center">
 <table class="table"  *ngIf="loading===false">
    <thead>
       <tr>
          <th scope="col">Code site</th>
          <th scope="col">Nom site</th>
          <th scope="col">Adresse</th>
          <th scope="col">Code postal</th>
          <th scope="col">Ville</th>
          <th scope="col">Pays</th>
          <th scope="col"></th>
          <th scope="col"></th>
       </tr>
    </thead>
    <tbody>
       <tr >
          <td>{{affectation.collaborateur.uo.siteExercice.codeSite}}</td>
          <td>{{affectation.collaborateur.uo.siteExercice.nomSite}}</td>
          <td>{{affectation.collaborateur.uo.siteExercice.adressePostale1}}</td>
          <td>{{affectation.collaborateur.uo.siteExercice.codePostal}}</td>
          <td>{{affectation.collaborateur.uo.siteExercice.ville}}</td>
          <td>{{affectation.collaborateur.uo.siteExercice.pays}}</td> 
       </tr>
    </tbody>
 </table>
 </div>
 <br >
 <div>
    <h5>Informations Mobile</h5>
</div>
 <div class="d-flex justify-center">
 <table class="table" *ngIf="loading===false">
    <thead>
       <tr>
          <th scope="col">Numero série</th>
          <th scope="col">Etat Iphone</th>
          <th scope="col">Prix</th>
          <th scope="col">Modele</th>
          <th scope="col"></th>
          <th scope="col"></th>
       </tr>
    </thead>
    <tbody>
       <tr >
            <td>{{affectation.iphone.numeroSerie}}</td>
            <td>{{affectation.iphone.etatIphone}}</td>
            <td>{{affectation.iphone.prixIphone}}</td>
            <td>{{affectation.iphone.modeleIphoneDTO.nomModele}}</td> 
          
        </tr>
    </tbody>
 </table>
 </div>


