<div class='row' id="row_idForm">
    <div class="col s12 m4 offset-m4">
        <div class="card hoverable border-0">
            <div class="d-flex justify-content-center">
                <div class="col-md-6">
                    <form (ngSubmit)="soumissionLogin(credentials)" [formGroup]="credentials">

                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="username"
                                placeholder="Saisir login" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" formControlName="password"
                                placeholder="Mot de passe" required>
                        </div>

                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary" id="bouton">Valider</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


    <div class="row" *ngIf="OKchange" id="row-pwd">
        <div class="col s12 m4 offset-m4">
            <div class="card hoverable border-0">
                <div class="d-flex justify-content-center">
                    <div class="col-md-6">
                        <h3>Modification du mot de passe:</h3>
                        <form (ngSubmit)="modificationMDP(dataPassword.value)" [formGroup]="dataPassword">
            
                            <div class="form-group">
                                <input type="password" class="form-control" formControlName="password"
                                    placeholder="Saisir nouveau mot de passe" required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" formControlName="confirmPassword"
                                    placeholder="Confirmer nouveau Mot de passe" required>
                            </div>
                    
                            <div class="d-flex justify-content-around">
                                <button type="submit" class="btn btn-primary" >Valider</button>
                                <button (click)="abandonModifMDP()" class="btn btn-danger" >Abandonner</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    
