<!-- <ul *ngIf="loading===false">
   <li *ngFor="let affectation of listAffectations">{{affectation.numeroAffectation}}</li>
</ul> -->

<table class="table" *ngIf="loading===false">
   <thead>
      <tr>
         <th scope="col">Date affectation</th>
         <th scope="col">UID</th>
         <th scope="col">Nom</th>
         <th scope="col">Prénom</th>
         <th scope="col">Uo</th>
         <th scope="col">Nom site</th>
         <th scope="col">modèle</th>
         <th scope="col">Date renouv.<br>prévue</th>
         <th scope="col"></th>
         <th scope="col"></th>
      </tr>
   </thead>
   <tbody>
      <tr *ngFor="let affectation of listAffectations">
         <td>{{affectation.dateAffectation}}</td>
         <td>{{affectation.collaborateur.uid}}</td>
         <td>{{affectation.collaborateur.nom}}</td>
         <td>{{affectation.collaborateur.prenom}}</td>
         <td>{{affectation.collaborateur.uo.codeUo}}</td>
         <td>{{affectation.collaborateur.uo.siteExercice?.nomSite}}</td>
         <td>{{affectation.iphone.modeleIphoneDTO.nomModele}}</td>
         <td>{{affectation.dateRenouvellementPrevue}}</td>
         <td>
            <button (click)="showDetail($event, affectation.numeroAffectation)">Détail</button>
             <button *ngIf="isAdmin || isType2" (click)="closeAffectationAction($event, affectation.numeroAffectation)">Cloturer</button>
            </td>
         <td></td>
      </tr>
   </tbody>
</table>
