<!-- <ul *ngIf="loading===false">
   <li *ngFor="let affectation of listAffectations">{{affectation.numeroAffectation}}</li>
</ul> -->

<table class="table" *ngIf="loading===false">
   <thead>
      <tr>
         <th scope="col">Date affectation </th>
         <th scope="col">UID </th>
         <th scope="col">Nom</th>
         <th scope="col">Prénom</th>
         <th scope="col">Uo</th>
         <th scope="col">Nom UO</th>
         <th scope="col">Nom site</th>
         <th scope="col">Numéro Ligne</th>
         <th scope="col">modèle</th>
         <th scope="col">Date renouv.<br>prévue</th>
         <th scope="col">  
            <button (click)="effacerFiltre()">Réinitialiser les filtres</button>
         </th>
         <th scope="col"></th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>
            <input  disabled type="text" size="6">
         </td>
         <td>
             <input  #inputUID placeholder="filtrer par ..." type="text" size="6">
         </td>
         <td>
             <input  #inputNom placeholder="filtrer par ..." type="text" size="20" >
         </td>
         <td>
            <input  disabled type="text" size="6">
         </td>
         <td>
             <input  #inputCodeUo placeholder="filtrer par ..." type="text" size="6">
         </td>
         <td>
            <input  #inputNomUo placeholder="filtrer par ..." type="text" size="10">
        </td>
         <td>
             <input  #inputSite placeholder="filtrer par ..." type="text" size="8">
         </td>
         <td>
            <input  #inputNumLigne placeholder="filtrer par ..." type="tel" size="10">
        </td>
         <td>
             <input  #inputModel placeholder="filtrer par ..." type="text" size="8">
         </td>
         <td>
             <input  #inputDateRenouvMin placeholder="rechercher.par date renouvellement.." type="date"  min="2020-01-01" max="2020-12-31">
             <br>
             <input  #inputDateRenouvMax placeholder="rechercher.par date renouvellement.." type="date"  min="2020-01-01" max="2020-12-31">
         </td>
         <td>
            <button (click)="rechercheFiltre()">Appliquer les filtres</button>
         </td> 
               
      </tr>
      <tr *ngFor="let affectation of listAffectations">
         <td>{{affectation.dateAffectation}}</td>
         <td>{{affectation.collaborateur.uid}}</td>
         <td>{{affectation.collaborateur.nom}}</td>
         <td>{{affectation.collaborateur.prenom}}</td>
         <td>{{affectation.collaborateur.uo.codeUo}}</td>
         <td>{{affectation.collaborateur.uo.nomUsageUo}}</td>
         <td>{{affectation.collaborateur.uo.siteExercice?.nomSite}}</td>
         <td>{{affectation.collaborateur.numeroLigne}}</td>
         <td>{{affectation.iphone.modeleIphoneDTO.nomModele}}</td>
         <td>{{affectation.dateRenouvellementPrevue}}</td>
         <td>
            <button (click)="showDetail($event, affectation.numeroAffectation)">Détail</button>
             <!-- <button *ngIf="isAdmin || isType2" (click)="closeAffectationAction($event, affectation.numeroAffectation)">Cloturer</button> -->
            </td>
         <td></td>
      </tr>
   </tbody>
</table>
<div class="d-flex justify-content-between"  *ngIf="pagination$ | async as metaAffectation">
   <p>Page {{ metaAffectation?.numeroDeLaPageRetournee}}/ {{ metaAffectation?.nombreDePages}}</p>
   <nav aria-label="Page navigation example">
   <ul class="pagination">
       <li class="page-item">
         <button (click)="previousPage(metaAffectation?.numeroDeLaPageRetournee)" [disabled]="metaAffectation?.numeroDeLaPageRetournee == 1" class="btn btn-link" href="#">
            Précédent
            </button>
          <!-- <a class="page-link" href="#" [disabled]="metaAffectation?.numeroDeLaPageRetournee = 1">Précédent</a> -->
         </li>
       <li class="page-item">
         <button (click)="nextPage(metaAffectation?.numeroDeLaPageRetournee)" [disabled]="metaAffectation?.numeroDeLaPageRetournee == metaAffectation?.nombreDePages" class="btn btn-link" href="#">
            Suivant
            </button>
          <!-- <a class="page-link" href="#" [disabled]="metaAffectation?.numeroDeLaPageRetournee = metaAffectation?.nombreDePages">Suivante</a> -->
         </li>
    </ul>
   </nav>
</div>
