<!-- <ul *ngIf="loading===false">
   <li *ngFor="let affectation of listAffectations">{{affectation.numeroAffectation}}</li>
</ul> -->

<table class="table" *ngIf="loading===false">
   <thead>
      <tr>
         <th scope="col">Date affectation </th>
         <th scope="col">UID </th>
         <th scope="col">Nom</th>
         <th scope="col">Prénom</th>
         <th scope="col">Uo</th>
         <th scope="col">Nom UO</th>
         <th scope="col">Nom site</th>
         <th scope="col">Numéro Ligne</th>
         <th scope="col">modèle</th>
         <th scope="col">Date renouv.<br>prévue</th>
         <th scope="col"></th>
         <th scope="col"></th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>
         </td>
         <td>
             <input  #inputUID placeholder="rechercher.par uid.." type="text" size="6">
         </td>
         <td>
             <input  #inputNom placeholder="rechercher.par nom.." type="text" size="20" >
         </td>
         <td>
         </td>
         <td>
             <input  #inputCodeUo placeholder="rechercher.par code UO.." type="text" size="6">
         </td>
         <td>
            <input  #inputNomUo placeholder="rechercher.par nom UO.." type="text" size="10">
        </td>
         <td>
             <input  #inputSite placeholder="rechercher.par site.." type="text" size="8">
         </td>
         <td>
            <input  #inputNumLigne placeholder="rechercher.par numéro ligne.." type="tel" size="10">
        </td>
         <td>
             <input  #inputModel placeholder="rechercher.par modèle iphone.." type="text" size="8">
         </td>
         <td>
             <input  #inputDateRenouvMin placeholder="rechercher.par date renouvellement.." type="date"  min="2020-01-01" max="2020-12-31">
             <br>
             <input  #inputDateRenouvMax placeholder="rechercher.par date renouvellement.." type="date"  min="2020-01-01" max="2020-12-31">
         </td>
         <td>
            <button (click)="rechercheFiltre()">Appliquer les filtres</button>
         </td> 
               
      </tr>
      <tr *ngFor="let affectation of listAffectations">
         <td>{{affectation.dateAffectation}}</td>
         <td>{{affectation.collaborateur.uid}}</td>
         <td>{{affectation.collaborateur.nom}}</td>
         <td>{{affectation.collaborateur.prenom}}</td>
         <td>{{affectation.collaborateur.uo.codeUo}}</td>
         <td>{{affectation.collaborateur.uo.nomUsageUo}}</td>
         <td>{{affectation.collaborateur.uo.siteExercice?.nomSite}}</td>
         <td>{{affectation.collaborateur.numeroLigne}}</td>
         <td>{{affectation.iphone.modeleIphoneDTO.nomModele}}</td>
         <td>{{affectation.dateRenouvellementPrevue}}</td>
         <td>
            <button (click)="showDetail($event, affectation.numeroAffectation)">Détail</button>
             <!-- <button *ngIf="isAdmin || isType2" (click)="closeAffectationAction($event, affectation.numeroAffectation)">Cloturer</button> -->
            </td>
         <td></td>
      </tr>
   </tbody>
</table>
