<div class="vh-100 text-break">

    <h3>Actions</h3>

    <h4>Affectation</h4>
    <ul>
        <li><a routerLink="/container/liste" class="nav-link" href="#">Liste</a></li>
        <li *ngIf="isAdmin || isType2" ><a routerLink="/container/creation" class="nav-link" href="#">Création</a></li>
    </ul>

    <div *ngIf="isAdmin">
        <h4>Administration</h4>
        <ul>
            <li><a routerLink="/container/createUser" class="nav-link" href="#">Habiliter utilisateur</a></li>
            <li><a routerLink="/container/deleteUser" class="nav-link" href="#">Supprimer utilisateur</a></li>

        </ul>
    </div>

</div>