<div class="row">
  <div class="col-sm-8 col-sm-offset-2 justify-center">
    <h1>Création d'une affectation</h1>
  </div>
    <div class="col-sm-8 col-sm-offset-2">
      <form (ngSubmit)="creationAffectation(dataCreateAffectation)"  [formGroup]="dataCreateAffectation" >
      
        <div class="form-group">
          <label for="uid"><strong>UID du collaborateur</strong>          
          </label>
          <input type="text" #uid (click)="rechercheEnBase(uid.value)" class="form-control" formControlName="uid"  placeholder="Saisir UID" required maxlength="6" ngModel>
              <div *ngIf="collaborateurRecupere === true">
                <span *ngIf="collaborateurRecupere === true"> nom : {{ collaborateur.nom }} </span>
                <span *ngIf="collaborateurRecupere === true"> prenom : {{ collaborateur.prenom }} </span>
              </div>
         
         </div> 
          <div class="form-group"> 
          <label for="modeleiphone"><strong> Modele Iphone</strong> 
           
          </label> 
          <!-- <input type="text" id="modeleiphone" class="form-control" formControlName="modeleiphone"  placeholder="Saisir numéro série Iphone" required maxlength="20" ngModel> -->
           <select id="modeleiphone" class="form-control"  formControlName="modeleiphone" name="modeleiphone" (ngModelChange)="rechercheEnBaseTel($event)" ngModel> 
            <ng-container *ngFor="let Iphone of ListeIphone">
              <option   [ngValue]="Iphone" >{{Iphone}}</option>
            </ng-container>
           
           </select>
           <div *ngIf="telephoneRecupere === true"> 
         
            <span *ngIf="telephoneRecupere === true"> numéro de série : {{ telephone.numeroSerie }} </span>
            <span *ngIf="telephoneRecupere === true"> prix : {{ telephone.prixIphone }} </span>
            <span *ngIf="telephoneRecupere === true"> état : {{ telephone.etatIphone }} </span>
            
            </div>
            
          </div>  
          
          <div class="form-group">
            <label for="numeroligne"><strong>Numero de Ligne</strong>
                
            </label>
            <input type="numeroligne" id="numeroligne" class="form-control" formControlName="numeroligne" placeholder="Saisir le numéro de ligne"  ng-minlength="10"  ng-maxlength="10" required  ngModel >
            </div>
      
        <div class="form-group">
        <label for="dateaffectation"><strong>Date Affectation</strong>
            
        </label>
        <input type="date" id="dateaffectation" class="form-control" formControlName="dateaffectation" placeholder="Saisir la date d'affectation" required  ngModel="dateaffectation | date:'yyyy-MM-dd'" >
        </div>
        <div class="form-group">
            <label for="Commentaire"><strong>Commentaire</strong>
               
            </label>
            <input type="text" id="commentaire" class="form-control" formControlName="commentaire" placeholder="Saisir un commentaire si souhaité" ngModel >
            </div>
        <button class="btn btn-primary" type="submit" [disabled]="dataCreateAffectation.invalid">Enregistrer</button>
      </form>
    </div>
  </div>