<div class="container">
  <!-- <div class="row py-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Gestion des affectations Mobiles</h4>
          <p class="card-text">Module de consultation, ajout, modification et suppression des affectations</p>
          <a href="#" class="btn btn-primary">Acceder</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Administration</h4>
          <p class="card-text">Module de gestion des habilitations</p>
          <a href="#" class="btn btn-primary">Acceder</a>
        </div>
      </div>
    </div>
  </div> -->


    <div class="card my-5">
      <div class="card-header">
        <h2>Gestion des affectations Mobiles</h2>
      </div>
      <div class="card-body">
        <!-- <h5 class="card-title">Gestion des affectations Mobiles</h5> -->
        <p class="card-text">Module de consultation, ajout, modification et suppression des affectations.</p>
        <a href="#" class="btn btn-primary" routerLink="/container/gestion">Acceder</a>
      </div>
    </div>

 
    <div class="card my-5">
      <div class="card-header">
        <h2>Administration</h2>
      </div>
      <div class="card-body">
        <!-- <h5 class="card-title">Administration</h5> -->
        <p class="card-text">Module de gestion des habilitations.</p>
        <a href="#" class="btn btn-primary" routerLink="/container/admin">Acceder</a>
      </div>
    </div>



</div>